html{
    font-family: "Arial", "Sans-serif", "Georgia";
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}


#addProductForm{
    width: 95%;
    margin: 20px auto;
}

#addProductForm input{
    margin-bottom: 10px;
    margin-top: 0;
}

#addProductForm input[type=number] {
    margin-bottom: 10px;
    margin-top: 0;
}

#addProductForm button {
    padding: 10px;
    background-color: #666 !important;
    color: #FFF;
    cursor: pointer;
    border-radius: 5px;

}

#addProductForm label{
    display: inline-block;
    font-size: 16px;
}

.listHeading{
    margin: 10px 25px;
    padding: 0;
    font-size: 30px;
    padding: 5px;
    color: #FFF;
    background-color: #2532CC;
    

}

.products_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product{
    width: 250px;
    height: 300px;
    padding: 25px;
    margin: 20px;
    transition: all .17s ease-out;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #FFF;
}

.product:hover{
    box-shadow: 0 2px 3px 0px #999;
    transform: translateY(-5px);
}

.product .preview{
    display: block;
    max-width: 160px;
    margin: auto;
}

.product .name{
    line-height: 1.4em;
    font-size: 22px;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #666;
}
.product .price{
    margin: 0;
    padding: 0;
    line-height: 1.1rem;
    font-size: 30px;
    color: #333;
}